@{
    Layout = "_BaseLayout.cshtml";
}
<div class="row">
    <div class="col-sm-8">@RenderBody()</div>
    <div class="col-sm-4">
        <div class="fb-page" data-href="https://www.facebook.com/taipm.bidv/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/taipm.bidv/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/taipm.bidv/">ArduinoLab.vn</a></blockquote></div>
        <hr />
        @{ RenderZone("Right Column"); }
    </div>
</div>