@model MrCMS.Web.Apps.Articles.Models.LatestXArticlesViewModel
@if (Model != null)
{
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <h4 class="widget-article-title">@Model.Title</h4>
    }

    foreach (var article in Model.Articles)
    {
    <h4 class="widget-article-title-item"><a href="/@article.LiveUrlSegment">@article.Name</a></h4>
    }
}